RELAYREMINDER_MM_URL=your-mattermost-server.com
RELAYREMINDER_BOT_TOKEN=(your mattermost bot-token)
RELAYREMINDER_SCHEME=https
RELAYREMINDER_PORT=443
RELAYREMINDER_TEAM=main
RELAYREMINDER_CHANNEL=relaychannel
RELAYREMINDER_MESSAGE_FILE=/your/home/directory/.relayreminder/messages.tsv
RELAYREMINDER_MENTION_FORMAT="{} さん"
RELAYREMINDER_ALL_HISTORY=True
RELAYREMINDER_SLASHCOMMAND_host=localhost
RELAYREMINDER_SLASHCOMMAND_PORT=4500
RELAYREMINDER_GUNICORN_PATH=/usr/bin/gunicorn
RELAYREMINDER_WORKERS=2
RELAYREMINDER_TIMEOUT=300
RELAYREMINDER_DATETIME_FORMAT="%Y-%m-%d %H:%M:%S"
MATTERMOST_WHENMYLAST_TOKEN=(your slash-command token)
RELAYREMINDER_WHENMYLAST_MESSAGE_FORMAT="あなたのこのチャンネルでの最終投稿日時は以下の通りです。\n\nチャンネル上の「標準」投稿：{}\n全ての投稿：{}"
